* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   overflow: hidden;
   cursor: pointer;
}

.snowflake{
   position: absolute;
   top: 0;
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background: white;
}

.BackgroundImage{
   position: absolute;
   width: 100vw;
   height: 100vh;
}